atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
sublime/Package%20Control.merged-ca-bundle
sublime/Package%20Control.system-ca-bundle
git/gitconfig.local.symlink
